{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <title>Classes</title>
</head>
<body>
    {% include 'partials/_nav.html' %}
    <div class="container">

        <div class="clases">
            <h1>Classes</h1>

            <form method="GET">
                <input type="search" name="search" placeholder="search">
                <button type="submit">Search</button>
            </form>
            
            <div class="Class">
                {% for item in course_classes %}    
                <a href="{{item.id}}" id="class">{{item.name}} | {{item.started_date}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>