{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <title>LMS | Create</title>
</head>
<body>
    {% include 'partials/_nav.html' %}
    
    <div class="login_container">
        <div class="login_form">
            <h2 style="text-align: center; margin: 10px 0px 10px 0px;">Create</h2>
            <div class="message">
                {% if error == 'no' %}
                <p style="background-color: rgb(58, 159, 0); " id="p">Successfully Saved</p>
                {% endif %}
                {% if error == 'yes' %}
                <p style="background-color: red;" id="p" class="p_shake">Invalid value</p>
                {% endif %}
            </div>
            <form method="POST">
                {% csrf_token %}
                <label>Name</label>
                <input type="text"  name="name">
                <label>Time</label>
                <input type="text"  name="time">
                <label>Date</label>
                <input type="text"  name="date">
        
                <input type="submit" value="Save">
            </form> 
            
        </div>
        
    </div>

</body>
</html>