{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Class info</title>     
        <link rel="stylesheet" href="{% static 'css/classes.css' %}">    
    </head>
    <body>
        {% include 'partials/_nav.html' %}
        <div id="container">
            <div id="info">
                
                <h2>Class Info</h2>
                <hr>
                <div id="clsInfo">
                    <p><b>Class</b>  {{class_id.name}}</p>
                    <p><b>Time</b>  {{class_id.time}}</p>
                    <p><b>Started on</b>  {{class_id.started_date}}</p>
                    <p><b>ID</b>  00-{{class_id.id}}</p>
                </div> 
                <br>
                <!-- <div class="title">            
                    <h2>Enrolled students</h2>
                    <a href="enroll">+ New</a>
                </div>
                <hr>
                <div class="students">
                    <h1>{{class_id}}</h1>
                </div>
            </div>     -->

    </div>

</body>
</html>