{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
    <title>LMS | Login</title>
</head>
<body>
    {% include 'partials/_nav.html' %}

    <div class="login_container">
        <div class="login_form">
            <h2 style="text-align: center;">Login</h2>
            <form method="POST">
                {% csrf_token %}
                <label>Name</label>
                <input type="text"  name="name">
                <label>Password</label>
                <input type="text"  name="mobile">
                <label>Password Again</label>
                <input type="text"  name="mobile">
        
                <input type="submit" value="Login" >
            </form> 
            
        </div>
        
    </div>

</body>
</html>