{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Management System</title>
    <link rel="website icon" type="png" href="{% static '/images/lms.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <!-- navbar from partials -->
    {% include 'partials/_nav.html' %}

            <!-- Main page start -->
            <div class="container">
                <div class="main_page" id="home">
                    <h1>Learning Management System</h1>
                    <h2>walk with us to brightness feature!</h2>
                    <a href="#">Login</a>
                </div>
            </div>
            <!-- Main page End -->
</body>
</html>